@import "../../styles/variables";
@import "../../styles/mixins";

$clr_settings: #616161;

header {
  & .container > * {
    @extend %global-container-styles;
  }
  .header {
    @include w_h(auto, map_get($header, height));
    @include font('Roboto', bold);
    box-shadow: 0 4px 8px 0 rgba(115, 107, 107, 0.2);
    background-color: map_get($header, bg);
    color: map_get($header, clr);
    &__title {
      text-transform: uppercase;
    }
    &__user-settings {
      &__button {
        @extend %button-dropdown-styles;
        .icon {
          @include bg('../../../assets/ArrowUp.svg') {
            background-position: center;
          }
        }
      }
      &__dropdown {
        @extend %dropdown;
      }
    }
  }
}