<div class="note-single">
    <div *ngIf="!isEmptyItem">
        <mat-form-field class="w-75 note-single__title">
            <input matInput placeholder="Title note" value="Sushi" [(ngModel)]="currentItem.title">
        </mat-form-field>

        <mat-form-field class="w-75 note-single__text">
            <textarea matInput placeholder="Text note" [(ngModel)]="currentItem.text"></textarea>
        </mat-form-field>

        <button *ngIf="currentItem.id" class="d-block" mat-raised-button (click)="update()">Update</button>
        <button *ngIf="!currentItem.id" class="d-block" mat-raised-button (click)="create()">Create</button>
    </div>

    <div *ngIf="isEmptyItem" class="note-single__none-selected">
        <h3>Select note from left panel or add new</h3>
    </div>
</div>
