@import "../../../styles/variables";
@import "../../../styles/mixins";

$clr_border_item: #B6BABD;
$clr_text_item: #6C757C;
$clr_date_item: #FF7275;

.list-notes {
  padding: 35px 0 0 35px;
  box-shadow: 0 2px 12px 0 rgba(71,61,61,0.1);
  &__item {
    padding: 15px 0 20px 20px;
    border-bottom: 1px solid $clr_border_item;
    &__title {
      @include font(null, bold, 20px, 24px);
    }
    &__content {
      &__text {
        color: $clr_text_item;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include font(null, bold, 14px, 16px);
        @include w_h(70%, auto);
      }
      &__due-date {
        color: $clr_date_item;
        @include font(null, 500, 16px, 19px);
        @include w_h(20%, auto);
      }
    }
  }
}